body, html {
    height: 100%;
}
.jumbotron {
background-image: linear-gradient(rgba(245, 240, 227, 0.801), rgba(245, 240, 227, 0.801)), url("https://pro2-bar-s3-cdn-cf1.myportfolio.com/4fdf377a-e107-4afd-aade-c09b7f6b7de3/cad21ce7-f778-459f-9876-3ad0674dc74d_rw_1200.jpg?h=9648431342923c6bda1bd7a4c31cb65e");
background-position: top;
background-repeat: no-repeat;
background-size: cover;
height: 75%;
margin-bottom: 0 !important;
}
/*  */
.card{
    border: none!important;
}
.media{
    margin: 2rem;
}